{% extends 'blank_layout.html' %}
{% load static %}
{% block content %}
<h1>List</h1>
<table>
    <tr><th>title</th><th>description</th><th>Year</th><th>edit/delete</th></tr>

{% for movie_obj in movies %}
<tr>
    <td><h1> {{movie_obj.title | upper}}</h1></td>
<td></td>
<td><h1>{{movie_obj.description}}</h1></td>
<td><h1></h1>{{movie_obj.year}}</h1></td>
<td><a href="{% url 'edit' movie_obj.id %}">edit</a>/<a href="{% url 'delete' movie_obj.id %}">delete</a></td>
</tr>
{% endfor %}
</table>
{% endblock content %}